**/__pycache__/**

**/videos/**
**/examples/**
models/*
events.out.tfevents.*

pbs1.sh
TransformerTrack/*

*.mp4
/frame.*
visualization/*
wandb/**
/data/*

test_vis/**
*.log
logs/*
test_degrade_log/*
test_pipeline/*
toy_dir/*